<div class="card">
  <img src="./media/item1/img1.webp" alt="img goes here" class="card-img-top" />
  <div class="card-body">
    <p class="card-title text-break">
      {{! Polo Raplh Lauren x Asos - Polo stile rugby color crema con pannello sul
      petto in pile }}
      ASOS DESIGN - Maglione lavorato oversize con motivo di paesaggio con
      nuvole
    </p>
    <div class="divvino"></div>
    <p class="card-text" style="font-weight: bolder;">
      34,99€
    </p>
  </div>
</div>