<!-- nav -->
<div class="row fixed-top mx-2 mt-2">
  <nav
    class="col-12 d-flex flex-row flex-sm-column justify-content-sm-center justify-content-around"
    id="menu-nav"
  >
    <a
      style="color: #191923"
      href="#"
      class="nav-link d-inline material-icons px-1"
    >menu</a>
    <a
      style="color: #191923"
      href="#"
      class="nav-link d-inline material-icons px-1"
    >shopping_cart</a>
    <a
      style="color: #191923"
      href="#"
      class="nav-link d-inline material-icons px-1"
    >person</a>
  </nav>
</div>