@mixin underline-on-hover($color: #1a1a1a) {
  &:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 0;
    background-color: $color;
    transition: height 0.2s ease-in-out;
  }

  &:hover:after {
    height: 0.12em;
  }
}
