<div class="top-row d-flex justify-content-between align-items-center">
  <ul class="d-none d-lg-block">
    <li>Donna</li>
    <li>Uomo</li>
    <li>Bambini</li>
  </ul>
  <img src="../../../assets/Zalando_logo.png" class="logo" />
  <ul class="d-flex align-items-stretch">
    <li><i class="gg-user"></i></li>
    <li><i class="gg-heart"></i></li>
    <li><i class="gg-shopping-cart"></i></li>
  </ul>
</div>
<div class="bottom-row row g-0 justify-content-between">
  <ul class="col-lg-5 d-none d-lg-flex row justify-content-start">
    <li class="col"><span class="bottom-element">Novità</span></li>
    <li class="col">
      <span class="bottom-element">Abbigliamento</span>
    </li>
    <li class="col"><span class="bottom-element">Scarpe</span></li>
    <li class="col"><span class="bottom-element">Sports</span></li>
  </ul>
  <span
    class="menu-icon d-lg-none d-flex col justify-content-center align-items-center"
  >
    <!-- <i class="gg-layout-list"></i> -->
    <img src="../../../assets/menu-icon.svg" />
  </span>
  <div class="col-lg-4 col-11">
    <form class="search-form d-flex justify-content-between">
      <span class="search-icon order-lg-1 order-2">
        <i class="gg-search"></i>
      </span>
      <input class="search-input" type="search" placeholder="Ricerca" />
    </form>
  </div>
</div>
