<div class="dropdown" *ngIf="active" (mouseleave)="setActive(false)">
  <div class="d-flex h-100 pt-4 container-xxl">
    <!-- For loop over elements -->
    <ng-container *ngFor="let col of elements; index as i">
      <!-- First and second column gets displayed one next to eachother-->
      <div
        class="d-flex flex-column w-25"
        [ngClass]="i == 0 ? 'ms-5' : ''"
        *ngIf="i < 2"
      >
        <!-- Switch based on element type -->
        <ng-container *ngFor="let el of col" [ngSwitch]="el.type">
          <!-- LINKED_HEADER -->

          <a
            class="linked-header-element my-1"
            *ngSwitchCase="'LINKED_HEADER'"
            [href]="(el | as: linkedHeader).href"
            ><h5>
              {{ el.text }}
            </h5></a
          >

          <!-- HEADER -->
          <h5 class="header-element my-1" *ngSwitchCase="'HEADER'">
            {{ el.text }}
          </h5>

          <!-- ICON -->
          <div class="my-1 row" *ngSwitchCase="'ICON'">
            <i
              [ngClass]="
                (el | as: icon).icon +
                ' fa-lg col-1 me-2 d-flex justify-content-center align-items-center'
              "
            ></i>
            <span class="col">
              <a [href]="(el | as: icon).href" class="underline">{{
                el.text
              }}</a></span
            >
          </div>

          <!-- TEXT -->
          <span class="text-element" *ngSwitchCase="'TEXT'">
            <a [href]="(el | as: text).href" class="underline">{{ el.text }}</a>
          </span>
        </ng-container>
      </div>
    </ng-container>

    <!-- From 3rd column onwards the remaining elements get displayed inside a flex-column -->
    <div class="d-flex flex-column w-25" *ngIf="elements.length > 2">
      <ng-container *ngFor="let col of elements; index as i">
        <div class="d-flex flex-column mb-3" *ngIf="i >= 2">
          <!-- Switch based on element type -->
          <ng-container *ngFor="let el of col" [ngSwitch]="el.type">
            <!-- LINKED_HEADER -->

            <a
              class="linked-header-element my-1"
              *ngSwitchCase="'LINKED_HEADER'"
              [href]="(el | as: linkedHeader).href"
              ><h5>
                {{ el.text }}
              </h5></a
            >

            <!-- HEADER -->
            <h5 class="header-element my-1" *ngSwitchCase="'HEADER'">
              {{ el.text }}
            </h5>

            <!-- ICON -->
            <div class="my-1 row" *ngSwitchCase="'ICON'">
              <i
                [ngClass]="
                  (el | as: icon).icon +
                  ' fa-lg col-1 me-2 d-flex justify-content-center align-items-center'
                "
              ></i>
              <span class="col">
                <a [href]="(el | as: icon).href" class="underline">{{
                  el.text
                }}</a></span
              >
            </div>

            <!-- TEXT -->
            <span class="text-element" *ngSwitchCase="'TEXT'">
              <a [href]="(el | as: text).href" class="underline">{{
                el.text
              }}</a>
            </span>
          </ng-container>
        </div>
      </ng-container>
    </div>

    <!-- Picture -->
    <div
      class="picture-wrapper w-25 me-4 d-flex"
      [style]="'background-color: ' + picture.bgColor"
    >
      <div class="picture ms-auto">
        <a [href]="picture.href">
          <img
            class="img w-100 h-100 mb-2"
            [src]="picture.src"
            [alt]="picture.text"
          />
        </a>
        <span class="picture-text"
          >{{ picture.text }} <i class="fal fa-arrow-right"></i
        ></span>
      </div>
    </div>
  </div>
</div>
